<div class="ui piled segment top_bottom_margin">
    <div class="ui form">
        <div class="ui three fields">
            <div class="field">
                <label>First name</label>
                <input type="text" placeholder="First Name">
            </div>
            <div class="field">
                <label>Last name</label>
                <input type="text" placeholder="Last Name">
            </div>
            <div class="field">
                <label>Username</label>
                <input type="text" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" placeholder="exampleName@gmail.com">
        </div>
        <div class="ui green submit button">Update</div>
    </div>
</div>
