<div class="ui animated divided list top_bottom_margin">
    <div class="item">
        <i class="circular inverted green foursquare icon"></i>
        <div class="content">
            <div class="header">Snickerdoodle</div>
            An excellent companion
        </div>
    </div>
    <div class="item">
        <i class="circular inverted red foursquare icon"></i>
        <div class="content">
            <div class="header">Poodle</div>
            A poodle, its pretty basic
        </div>
    </div>
    <div class="item">
        <i class="circular inverted blue foursquare icon"></i>
        <div class="content">
            <div class="header">Paulo</div>
            He's also a dog
        </div>
    </div>
</div>

